h1 {
    text-align: center;
    color: chocolate;
}

p {
    color: darkgoldenrod;
}

div {
    background-color: floralwhite;
    width: 500px;
    height: 700px;
    margin: 30px;
    padding: 10px;
}

body {
    margin: 0%;
}